Repository FAForever/fa, pull requests merged in 2019-07, with the labels that each got.

#2805 Modblacklist exp war
  etc/faf/blacklist.lua
Labels: ready

#2814 Fix/improve resource sharing
  lua/SimUtils.lua
Labels: sim

#2821 Fix Salem floating when killed during landing
  units/URS0201/URS0201_script.lua
Labels: sim

#2817 Fix target bones of Cybran T2 Land HQ
  units/URB0201/URB0201_unit.bp
Labels: unit-blueprint
