Repository FAForever/fa, pull requests merged in 2022-12, with the labels that each got.

#4449 Fix encoding issues
  init.lua
  init_faf.lua
  init_fafbeta.lua
  init_fafdevelop.lua
  init_shared.lua
Labels: type: bug

#4481 Fix scaling of lobby chat messages
  lua/ui/lobby/chatarea.lua
Labels: area: ui, area: lobby

#4485 Prevent loading navigational mesh by default and fix issues with M27AI
  lua/AI/AIBuilders/AIAirAttackBuilders.lua
  lua/AI/AIBuilders/AIArtilleryBuilders.lua
  lua/AI/AIBuilders/AIDefenseBuilders.lua
  lua/AI/AIBuilders/AIEconomicBuilders.lua
  lua/AI/AIBuilders/AIEconomyUpgradeBuilders.lua
  lua/AI/AIBuilders/AIExpansionBuilders.lua
  lua/AI/AIBuilders/AIExperimentalBuilders.lua
  lua/AI/AIBuilders/AIFactoryConstructionBuilders.lua
  lua/AI/AIBuilders/AIIntelBuilders.lua
  lua/AI/AIBuilders/AILandAttackBuilders.lua
  lua/AI/AIBuilders/AINavalBuilders.lua
  lua/AI/AIBuilders/AISeaAttackBuilders.lua
  lua/AI/AIBuilders/SorianAirAttackBuilders.lua
  lua/AI/AIBuilders/SorianArtilleryBuilders.lua
  lua/AI/AIBuilders/SorianDefenseBuilders.lua
  lua/AI/AIBuilders/SorianEconomicBuilders.lua
  lua/AI/AIBuilders/SorianEconomyUpgradeBuilders.lua
  lua/AI/AIBuilders/SorianExpansionBuilders.lua
  lua/AI/AIBuilders/SorianExperimentalBuilders.lua
  lua/AI/AIBuilders/SorianFactoryConstructionBuilders.lua
  lua/AI/AIBuilders/SorianIntelBuilders.lua
  lua/AI/AIBuilders/SorianLandAttackBuilders.lua
  lua/AI/AIBuilders/SorianNavalBuilders.lua
  lua/AI/AIBuilders/SorianSeaAttackBuilders.lua
  lua/AI/AIBuilders/SorianStrategyBuilders.lua
  lua/AI/AIBuilders/SorianStrategyPlatoonBuilders.lua
  lua/BuildingTemplates.lua
  lua/SimCallbacks.lua
  lua/aibrain.lua
  lua/basetemplates.lua
  lua/sim/NavUtils.lua
  lua/simInit.lua
  lua/ui/lobby/aitypes.lua
  lua/ui/lobby/lobby.lua
  lua/unittemplates.lua
  lua/upgradetemplates.lua
Labels: type: bug, area: AI

#4495 Attempt at fixing issues with nav generator not running
  lua/sim/NavGenerator.lua
  lua/ui/lobby/aitypes.lua
  lua/ui/lobby/lobby.lua
Labels: area: AI

#4488 Fix scaling of lobby map preview tooltip
  lua/ui/lobby/lobby.lua
Labels: area: ui, area: lobby

#4486 Aeon air factories rework
  units/UAB0102/UAB0102_Albedo.dds
  units/UAB0102/UAB0102_Aupgrade.sca
  units/UAB0102/UAB0102_SpecTeam.dds
  units/UAB0102/UAB0102_aopen_sup.sca
  units/UAB0102/UAB0102_lod0.scm
  units/UAB0102/UAB0102_lod1_Albedo.dds
  units/UAB0102/UAB0102_lod1_SpecTeam.dds
  units/UAB0102/UAB0102_lod1_normalsTS.dds
  units/UAB0102/UAB0102_unit.bp
  units/UAB0202/UAB0202_Aupgrade.sca
  units/UAB0202/UAB0202_LOD0.scm
  units/UAB0202/UAB0202_unit.bp
  units/UAB0302/UAB0302_LOD0.scm
  units/UAB0302/UAB0302_unit.bp
  units/ZAB9502/ZAB9502_Aupgrade.sca
  units/ZAB9502/ZAB9502_lod0.scm
  units/ZAB9502/ZAB9502_lod1_Albedo.dds
  units/ZAB9502/ZAB9502_lod1_SpecTeam.dds
  units/ZAB9502/ZAB9502_lod1_normalsTS.dds
  units/ZAB9502/ZAB9502_normalsTS.dds
  units/ZAB9502/ZAB9502_unit.bp
  units/ZAB9602/ZAB9602_Albedo.dds
  units/ZAB9602/ZAB9602_SpecTeam.dds
  units/ZAB9602/ZAB9602_lod0.scm
  units/ZAB9602/ZAB9602_lod1_Albedo.dds
  units/ZAB9602/ZAB9602_lod1_SpecTeam.dds
  units/ZAB9602/ZAB9602_lod1_normalsTS.dds
  units/ZAB9602/ZAB9602_normalsTS.dds
  units/ZAB9602/ZAB9602_unit.bp
Labels: area: pbr

#4503 Break cycles in dependencies
  lua/simInit.lua
Labels: area: coop

#4522 Snowflakes 2022
  lua/ui/events/SnowFlake.lua
  lua/ui/lobby/lobby.lua
  textures/ui/events/snow/snowflake.dds
Labels: area: lobby

#4525 Allow negative aix cheat multipliers
  lua/ui/lobby/lobbyOptions.lua
Labels: area: lobby, area: AI

#4523 Introduces function to determine allocated bytes for any value
  lua/sim/NavGenerator.lua
  lua/system/utils.lua
Labels: area: sim, area: ui
