Repository FAForever/fa, pull requests merged in 2022-10, with the labels that each got.

#4131 Common Army
  loc/RU/strings_db.lua
  loc/US/strings_db.lua
  lua/sim/MatchState.lua
  lua/simInit.lua
  lua/ui/dialogs/hotstats.lua
  lua/ui/dialogs/score.lua
  lua/ui/game/score.lua
  lua/ui/lobby/lobbyOptions.lua
Labels: area: sim

#4259 makes loyalists not redicret billy nukes
  lua/defaultantiprojectile.lua
  projectiles/TIFMissileNukeCDR/TIFMissileNukeCDR_proj.bp
Labels: area: balance

#4215 Let Sparkies build radar and sonar
  units/XEL0209/XEL0209_unit.bp
Labels: area: balance

#4216 Nerf Kennel Costs
  units/XEA3204/XEA3204_unit.bp
  units/XEB0104/XEB0104_unit.bp
  units/XEB0204/XEB0204_unit.bp
Labels: area: balance

#4282 Return a unique path table by default
  lua/sim/NavUtils.lua
Labels: area: nav-mesh

#4285 Nav mesh - Fix a typo and adjust scope of using ScenarioInfo
  lua/sim/NavGenerator.lua
  lua/sim/NavUtils.lua
Labels: area: nav-mesh

#4229 Refactor UIUtils
  lua/skins/skins.lua
  lua/ui/uiutil.lua
Labels: area: ui

#4298 Add query to retrieve label of area
  lua/SimCallbacks.lua
  lua/shared/NavGenerator.lua
  lua/sim/NavDebug.lua
  lua/sim/NavGenerator.lua
  lua/sim/NavUtils.lua
  lua/ui/game/NavGenerator.lua
Labels: area: nav-mesh

#4313 Nav mesh - introduce dynamic compression threshold
  lua/sim/NavGenerator.lua
Labels: area: nav-mesh

#4308 Nav mesh - integrate navigational mesh with marker utilities
  lua/sim/MarkerUtilities.lua
  lua/sim/NavGenerator.lua
  lua/sim/NavUtils.lua
Labels: area: nav-mesh
