Repository FAForever/fa, pull requests merged in 2024-11, with the labels that each got.

#6466 Fix Ythotha being able to move backwards
  changelog/snippets/balance.6466.md
  engine/Core/Blueprints/UnitBlueprint.lua
  units/XSL0401/XSL0401_unit.bp
Labels: type: bug, area: balance, area: unit-blueprint

#6499 Apply new binary patch to Salem
  changelog/snippets/features.6499.md
  changelog/snippets/fix.6499.md
  engine/Patches.lua
  engine/Sim/Unit.lua
  units/URS0201/URS0201_script.lua
  units/URS0201/URS0201_unit.bp
Labels: area: sim, area: requires engine patch

#6457 Fix inaccuracy of the `DoTTime` weapon stat
  changelog/snippets/fix.6457.md
  lua/sim/DefaultDamage.lua
  lua/sim/Projectile.lua
  units/DAA0206/DAA0206_unit.bp
  units/DEA0202/DEA0202_unit.bp
  units/UAB2302/UAB2302_unit.bp
  units/UAB2303/UAB2303_unit.bp
  units/UAL0304/UAL0304_unit.bp
  units/UEA0103/UEA0103_unit.bp
  units/URA0204/URA0204_unit.bp
  units/URB2109/URB2109_unit.bp
  units/URB2205/URB2205_unit.bp
  units/URS0201/URS0201_unit.bp
  units/URS0203/URS0203_unit.bp
  units/URS0302/URS0302_unit.bp
  units/URS0304/URS0304_unit.bp
  units/XRB2308/XRB2308_unit.bp
  units/XRB2309/XRB2309_unit.bp
  units/XRL0305/XRL0305_unit.bp
  units/XRL0403/XRL0403_unit.bp
  units/XRS0204/XRS0204_unit.bp
Labels: type: bug, area: sim, area: unit-blueprint

#6369 Fix campaign objectives being completed by AI player
  changelog/snippets/fix.6369.md
  lua/SimObjectives.lua
Labels: area: AI

#6504 Tweak the selection boxes of various air units
  changelog/snippets/fix.6504.md
  units/UAA0104/UAA0104_unit.bp
  units/UEA0104/UEA0104_unit.bp
  units/UEA0107/UEA0107_unit.bp
  units/UEA0203/UEA0203_unit.bp
  units/URA0104/URA0104_unit.bp
  units/URA0107/URA0107_unit.bp
  units/XEA0306/XEA0306_unit.bp
  units/XSA0104/XSA0104_unit.bp
  units/XSA0107/XSA0107_unit.bp
  units/XSA0203/XSA0203_unit.bp
Labels: area: ui

#6514 Add a flat threshold for the brain energy manager
  changelog/snippets/fix.6514.md
  engine/Sim/CAiBrain.lua
  lua/TriggerManager.lua
  lua/aibrains/components/EnergyManagerBrainComponent.lua
Labels: type: enhancement, area: sim

#6527 Fix syntax error in utilities.lua DotP
  changelog/snippets/other.6438.md
  lua/utilities.lua
Labels: type: bug

#6533 Add (proper) key names for side mouse buttons
  changelog/snippets/features.6533.md
  lua/keymap/keyNames.lua
  lua/keymap/properKeyNames.lua
Labels: feature: hotkeys

#6507 Fix depth charges not applying the `ProjectilesToDeflect` blueprint field
  changelog/snippets/fix.6507.md
  lua/sim/Projectile.lua
Labels: type: bug

#6525 fix GetAngleInBetween parameter references
  changelog/snippets/other.6438.md
  lua/utilities.lua
Labels: type: bug

#6477 Add `SimUtils` `DrawBone` function
  changelog/snippets/other.6477.md
  engine/Sim/Entity.lua
  lua/SimUtils.lua
Labels: type: nice-to-have, area: sim

#6536 Remove rounding in weapon tracking radius sanitization
  changelog/snippets/fix.6536.md
  engine/Core/Blueprints/UnitBlueprint.lua
  lua/system/blueprints-weapons.lua
Labels: area: unit-blueprint

#6396 Fix recall again
  lua/aibrain.lua
  lua/shared/RecallParams.lua
  lua/sim/Recall.lua
  lua/ui/game/recall.lua
Labels: type: bug, priority: high

#6485 Shader rework
  changelog/snippets/other.6485.md
  effects/mesh.fx
  effects/terrain.fx
Labels: area: graphics

#6476 Readjust the Cybran ACU's Nanite Torpedo upgrade
  changelog/snippets/balance.6476.md
  units/URL0001/URL0001_unit.bp
Labels: area: balance

#6383 Enable the SR's Iridium Rocket Pack to deal damage in an area of effect
  changelog/snippets/balance.6383.md
  units/URA0401/URA0401_unit.bp
Labels: area: balance

#6445 Small bug fixes for shields
  changelog/snippets/fix.6445.md
  lua/shield.lua
  lua/sim/Projectile.lua
Labels: type: bug, area: sim

#6426 Fix the printing of active mods for blueprint loading
  changelog/snippets/fix.6426.md
  lua/RuleInit.lua
Labels: type: bug

#6479 Rework the matchmaker lobby (autolobby)
  changelog/snippets/features.6479.md
  engine/User.lua
  engine/User/CLobby.lua
  engine/User/CMauiBitmap.lua
  engine/User/CUIMapPreview.lua
  lua/GameColors.lua
  lua/maui/bitmap.lua
  lua/shared/color.lua
  lua/system/utils.lua
  lua/ui/globals/GpgNetSend.lua
  lua/ui/lobby/autolobby-classes.lua
  lua/ui/lobby/autolobby.lua
  lua/ui/lobby/autolobby/AutolobbyConnectionMatrix.lua
  lua/ui/lobby/autolobby/AutolobbyConnectionMatrixDot.lua
  lua/ui/lobby/autolobby/AutolobbyController.lua
  lua/ui/lobby/autolobby/AutolobbyInterface.lua
  lua/ui/lobby/autolobby/AutolobbyMapPreview.lua
  lua/ui/lobby/autolobby/AutolobbyMapPreviewSpawn.lua
  lua/ui/lobby/autolobby/AutolobbyMessages.lua
  lua/ui/lobby/autolobby/components/AutolobbyServerCommunicationsComponent.lua
  lua/ui/maputil.lua
  lua/userInit.lua
  textures/ui/common/faction_icon-lg/aeon_med.dds
  textures/ui/common/faction_icon-lg/aeon_med.png
  textures/ui/common/faction_icon-lg/aeon_mini.dds
  textures/ui/common/faction_icon-lg/aeon_mini.png
  textures/ui/common/faction_icon-lg/aeon_thick.dds
  textures/ui/common/faction_icon-lg/aeon_thick.png
  textures/ui/common/faction_icon-lg/cybran_med.dds
  textures/ui/common/faction_icon-lg/cybran_med.png
  textures/ui/common/faction_icon-lg/cybran_mini.dds
  textures/ui/common/faction_icon-lg/cybran_mini.png
  textures/ui/common/faction_icon-lg/cybran_thick.dds
  textures/ui/common/faction_icon-lg/cybran_thick.png
  textures/ui/common/faction_icon-lg/factionicons-mini_bordered.svg
  textures/ui/common/faction_icon-lg/seraphim_med.dds
  textures/ui/common/faction_icon-lg/seraphim_med.png
  textures/ui/common/faction_icon-lg/seraphim_mini.dds
  textures/ui/common/faction_icon-lg/seraphim_mini.png
  textures/ui/common/faction_icon-lg/seraphim_thick.dds
  textures/ui/common/faction_icon-lg/seraphim_thick.png
  textures/ui/common/faction_icon-lg/uef_med.dds
  textures/ui/common/faction_icon-lg/uef_med.png
  textures/ui/common/faction_icon-lg/uef_mini.dds
  textures/ui/common/faction_icon-lg/uef_mini.png
  textures/ui/common/faction_icon-lg/uef_thick.dds
  textures/ui/common/faction_icon-lg/uef_thick.png
Labels: area: matchmaker/autolobby

#6516 Update Aeon SACU Enhancement Script
  changelog/snippets/other.6498.md
  units/UAL0301/UAL0301_script.lua
Labels: area: code style

#6506 Update Seraphim Enhancement Script
  changelog/snippets/other.6498.md
  engine/Core/Blueprints/UnitBlueprint.lua
  lua/sim/units/CommandUnit.lua
  units/XSL0001/XSL0001_script.lua
Labels: area: code style

#6513 Annotate UEF ACU script and enhancements
  changelog/snippets/other.6498.md
  engine/Core.lua
  engine/Sim.lua
  lua/sim/Unit.lua
  units/UEL0001/UEL0001_script.lua
Labels: area: code style, type: intellisense

#6534 Commander Transport Search Hotkey Upgrade
  changelog/snippets/features.6534.md
  loc/CZ/strings_db.lua
  loc/PL/strings_db.lua
  loc/US/strings_db.lua
  lua/keymap/keyactions.lua
  lua/keymap/keydescriptions.lua
  lua/keymap/misckeyactions.lua
Labels: feature: hotkeys

#6523 UVD: Remove unnecessary UI elements when the selected unit does not have a special `armorType`
  changelog/snippets/features.6424.md
  lua/ui/game/unitviewDetail.lua
Labels: area: ui

#6547 Do not use the script-defined playable area when it is tiny
  changelog/fix.6547.md
  lua/sim/NavGenerator.lua
Labels: type: bug, area: AI, area: nav-mesh

#6395 Hitbox improvements for various amphibious and naval units
  changelog/snippets/fix.6395.md
  units/UAB3102/UAB3102_unit.bp
  units/UAB3202/UAB3202_unit.bp
  units/UAB4201/UAB4201_unit.bp
  units/UAL0105/UAL0105_unit.bp
  units/UAL0309/UAL0309_unit.bp
  units/UAS0102/UAS0102_unit.bp
  units/UAS0103/UAS0103_unit.bp
  units/UAS0201/UAS0201_unit.bp
  units/UAS0203/UAS0203_unit.bp
  units/UAS0305/UAS0305_unit.bp
  units/UAS0401/UAS0401_unit.bp
  units/UEB3102/UEB3102_unit.bp
  units/UEB3202/UEB3202_unit.bp
  units/UEB4201/UEB4201_unit.bp
  units/UEL0105/UEL0105_unit.bp
  units/UEL0208/UEL0208_unit.bp
  units/UEL0309/UEL0309_unit.bp
  units/UES0201/UES0201_unit.bp
  units/UES0202/UES0202_unit.bp
  units/UES0203/UES0203_unit.bp
  units/UES0305/UES0305_unit.bp
  units/URB3102/URB3102_unit.bp
  units/URB3202/URB3202_unit.bp
  units/URB4201/URB4201_unit.bp
  units/URL0309/URL0309_unit.bp
  units/URS0103/URS0103_unit.bp
  units/URS0201/URS0201_unit.bp
  units/URS0202/URS0202_unit.bp
  units/URS0203/URS0203_unit.bp
  units/URS0304/URS0304_unit.bp
  units/URS0305/URS0305_unit.bp
  units/XAS0204/XAS0204_unit.bp
  units/XEL0209/XEL0209_unit.bp
  units/XES0102/XES0102_unit.bp
  units/XES0205/XES0205_unit.bp
  units/XRS0204/XRS0204_unit.bp
  units/XSB2104/XSB2104_unit.bp
  units/XSB2304/XSB2304_unit.bp
  units/XSB3102/XSB3102_unit.bp
  units/XSB3202/XSB3202_unit.bp
  units/XSB4201/XSB4201_unit.bp
  units/XSL0309/XSL0309_unit.bp
  units/XSS0103/XSS0103_unit.bp
  units/XSS0201/XSS0201_unit.bp
  units/XSS0203/XSS0203_unit.bp
  units/XSS0304/XSS0304_unit.bp
Labels: area: unit-blueprint, feature: target bones, feature: collision shapes

#6356 Nerf Mobile Flak on water
  changelog/snippets/balance.6356.md
  units/UAL0205/UAL0205_unit.bp
  units/XSL0205/XSL0205_unit.bp
Labels: area: balance

#6530 Remove ASF armor against Ahwassa bomb
  changelog/snippets/balance.6530.md
  lua/armordefinition.lua
  units/XSA0402/XSA0402_unit.bp
Labels: area: balance

#6427 Fix Seraphim carrier/T3 Sub and Cybran carrier AA missing their targets
  changelog/snippets/balance.6427.md
  engine/Core/Blueprints/WeaponBlueprint.lua
  projectiles/CAAAutocannon03/CAAAutocannon03_proj.bp
  projectiles/SAALosaareAutoCannon03/SAALosaareAutoCannon03_proj.bp
  units/XSS0303/XSS0303_unit.bp
  units/XSS0304/XSS0304_unit.bp
Labels: type: bug, area: balance

#6538 Fix `GetArmyBrain` being called on observers in sim side of recall
  changelog/snippets/fix.6396.md
  lua/sim/Recall.lua
Labels: type: bug, area: sim

#6456 Move `RollOfUnit()` to after the "finished building" animation
  changelog/snippets/fix.6456.md
  lua/sim/units/FactoryUnit.lua
Labels: type: bug, area: sim

#6557 Prevent siloes from cancelling missiles when issued a hard-stop command
  changelog/snippets/feature.6557.md
  lua/ui/game/orders.lua
Labels: area: ui, feature: hotkeys

#6552 Fix movement effect warning spam due to Spearhead (XEL0306)
  changelog/snippets/fix.6436.md
  lua/sim/Unit.lua
  units/URL0208/URL0208_script.lua
  units/XEL0306/XEL0306_unit.bp
Labels: type: bug, area: sim, area: unit-blueprint

#6562 Fix map-specific options in lobby not appearing
  changelog/snippets/features.6557.md
  changelog/snippets/other.6495.md
  lua/ui/maputil.lua
Labels: type: bug, area: lobby

#6546 Fix billy nuke launches being synced to UI
  changelog/snippets/fix.6546.md
  lua/sim/Unit.lua
  lua/sim/weapons/DefaultProjectileWeapon.lua
Labels: type: bug, area: sim
