Repository FAForever/fa, pull requests merged in 2024-12, with the labels that each got.

#6568 Vulthoo bt buff
  changelog/snippets/balance.6568.md
  units/XSA0203/XSA0203_unit.bp
Labels: area: balance

#6569 Expose player ratings and divisions to the session
  changelog/snippets/fix.6569.md
  engine/User/CLobby.lua
  lua/ui/lobby/autolobby/AutolobbyController.lua
  lua/ui/lobby/autolobby/components/AutolobbyArguments.lua
  scripts/LaunchFAInstances.ps1
Labels: type: bug, area: matchmaker/autolobby

#6464 Make shield assist start repairing the shield instantly
  changelog/snippets/balance.6464.md
  lua/shield.lua
  lua/sim/Unit.lua
Labels: area: balance, area: sim, area: balance idea

#6577 Annotate `AddBlinkyBox`
  changelog/snippets/other.6577.md
  engine/User.lua
Labels: area: ui, type: intellisense

#6581 Fix `/division` arg not being valid and division image filename format
  changelog/snippets/fix.6581.md
  lua/ui/lobby/autolobby/AutolobbyController.lua
  lua/ui/lobby/autolobby/components/AutolobbyArguments.lua
  scripts/LaunchFAInstances.ps1
  textures/divisions/bronze I.png
  textures/divisions/bronze II.png
  textures/divisions/bronze III.png
  textures/divisions/bronze III_medium.png
  textures/divisions/bronze II_medium.png
  textures/divisions/bronze IV.png
  textures/divisions/bronze IV_medium.png
  textures/divisions/bronze I_medium.png
  textures/divisions/bronze V.png
  textures/divisions/bronze V_medium.png
  textures/divisions/diamond I.png
  textures/divisions/diamond II.png
  textures/divisions/diamond III.png
  textures/divisions/diamond III_medium.png
  textures/divisions/diamond II_medium.png
  textures/divisions/diamond IV.png
  textures/divisions/diamond IV_medium.png
  textures/divisions/diamond I_medium.png
  textures/divisions/diamond V.png
  textures/divisions/diamond V_medium.png
  textures/divisions/gold I.png
  textures/divisions/gold II.png
  textures/divisions/gold III.png
  textures/divisions/gold III_medium.png
  textures/divisions/gold II_medium.png
  textures/divisions/gold IV.png
  textures/divisions/gold IV_medium.png
  textures/divisions/gold I_medium.png
  textures/divisions/gold V.png
  textures/divisions/gold V_medium.png
  textures/divisions/master I.png
  textures/divisions/master II.png
  textures/divisions/master III.png
  textures/divisions/master III_medium.png
  textures/divisions/master II_medium.png
  textures/divisions/master IV.png
  textures/divisions/master IV_medium.png
  textures/divisions/master I_medium.png
  textures/divisions/master V.png
  textures/divisions/master V_medium.png
  textures/divisions/silver I.png
  textures/divisions/silver II.png
  textures/divisions/silver III.png
  textures/divisions/silver III_medium.png
  textures/divisions/silver II_medium.png
  textures/divisions/silver IV.png
  textures/divisions/silver IV_medium.png
  textures/divisions/silver I_medium.png
  textures/divisions/silver V.png
  textures/divisions/silver V_medium.png
Labels: type: bug, area: ui, area: matchmaker/autolobby

#6599 Changelog for game version 3817
  changelog/snippets/fix.6581.md
  changelog/snippets/other.6577.md
  docs/_posts/2024-12-25-3817.md
  lua/ui/lobby/changelogData.lua
  lua/version.lua
  mod_info.lua
Labels: area: documentation

#6576 Preserve the world camera when switching to/from split view
  .vscode/settings.json
  changelog/snippets/features.6576.md
  lua/ui/game/worldview.lua
Labels: area: ui

#6598 Add TransportSpeedReduction to unit BP doc
  changelog/snippets/other.6598.md
  engine/Core/Blueprints/UnitBlueprint.lua
  lua/sim/units/AirTransportUnit.lua
Labels: area: unit-blueprint, type: intellisense

#6544 Fix unit transfer enabling enhancement-locked weapons
  changelog/snippets/fix.6544.md
  lua/SimUtils.lua
Labels: type: bug, area: sim

#6583 Fix personal shields reflecting above the water surface
  changelog/snippets/fix.6583.md
  effects/mesh.fx
Labels: type: bug, area: graphics
