Repository FAForever/fa, pull requests merged in 2025-05, with the labels that each got.

#6691 Reduce the delay before pausing to 1 tick
  changelog/snippets/features.6691.md
  lua/ui/game/commandmode.lua
Labels: feature: assist-to side effects

#6752 Add a workflow to bake blueprint properties of props
  .github/workflows/bake-blueprints.yaml
  .github/workflows/scripts/baking/bake-props.lua
  .github/workflows/test.yaml
  changelog/snippets/fix.6752.md
  changelog/snippets/other.6752.md
  env/Seraphim II/Props/Rock2_prop.bp
  lua/system/blueprints-props.lua
  tests/run-syntax-test.sh
Labels: area: baking of blueprints

#6751 Split up the 'Extended Graphics' game option
  changelog/snippets/other.6751.md
  engine/User.lua
  lua/options/options.lua
  lua/ui/controls/components/WorldViewCameraComponent.lua
  lua/ui/controls/worldview.lua
  lua/ui/game/gamemain.lua
  lua/ui/help/tooltips.lua
Labels: area: graphics, ui: options dialog

#6667 Implement decapitation victory condition
  changelog/snippets/features.6667.md
  engine/Sim.lua
  loc/US/strings_db.lua
  lua/aibrain.lua
  lua/sim/MatchState.lua
  lua/sim/units/ACUUnit.lua
  lua/simInit.lua
  lua/ui/lobby/lobbyOptions.lua
Labels: type: enhancement, area: sim, area: ui

#5971 Add disconnection share and ACU recall options
  changelog/snippets/features.5971.md
  engine/Sim.lua
  engine/Sim/CAiBrain.lua
  engine/User/CMauiItemList.lua
  loc/US/strings_db.lua
  lua/AI/sorianutilities.lua
  lua/SimUtils.lua
  lua/UserSync.lua
  lua/aibrain.lua
  lua/maui/bitmap.lua
  lua/maui/border.lua
  lua/maui/control.lua
  lua/maui/edit.lua
  lua/maui/itemlist.lua
  lua/maui/layouthelpers.lua
  lua/maui/scrollbar.lua
  lua/maui/text.lua
  lua/shared/color.lua
  lua/sim/MatchState.lua
  lua/sim/Unit.lua
  lua/sim/units/ACUUnit.lua
  lua/simInit.lua
  lua/system/utils.lua
  lua/ui/controls/textarea.lua
  lua/ui/game/announcement.lua
  lua/ui/lobby/autolobby/AutolobbyConnectionMatrixDot.lua
  lua/ui/lobby/lobbyOptions.lua
  lua/ui/uiutil.lua
  lua/wreckage.lua
Labels: area: sim, area: ui

#6771 Fix Aeon sniper aim while walking
  changelog/snippets/balance.6771.md
  units/XAL0305/XAL0305_unit.bp
Labels: type: bug, area: balance, area: unit-blueprint, area: graphics

#6728 Adjust Othuum hitbox and DPS distribution
  changelog/snippets/balance.6728.md
  units/XSL0303/XSL0303_unit.bp
Labels: area: balance idea

#6768 Fix icons of map preview of auto lobby being miss placed
  changelog/snippets/fix.6768.md
  lua/ui/lobby/autolobby/AutolobbyMapPreview.lua
Labels: area: ui, area: matchmaker/autolobby

#6738 Preliminary tweaks for TML and TMD
  changelog/snippets/balance.6738.md
  lua/cybranprojectiles.lua
  lua/seraphimprojectiles.lua
  lua/sim/projectiles/aeon/AMissileCruiseSubProjectile.lua
  lua/sim/projectiles/aeon/AMissileSerpentineProjectile.lua
  lua/terranprojectiles.lua
  projectiles/SIFLaanseTacticalMissile03/SIFLaanseTacticalMissile03_proj.bp
  projectiles/SIFLaanseTacticalMissile04/SIFLaanseTacticalMissile04_Script.lua
  projectiles/SIFLaanseTacticalMissile04/SIFLaanseTacticalMissile04_proj.bp
  projectiles/SIFLaanseTacticalMissileCDR/SIFLaanseTacticalMissileCDR_proj.bp
  projectiles/SIFLaanseTacticalMissileCDR/SIFLaanseTacticalMissileCDR_script.lua
  projectiles/SIFLaanseTacticalMissileSCU/SIFLaanseTacticalMissileSCU_proj.bp
  projectiles/SIFLaanseTacticalMissileSCU/SIFLaanseTacticalMissileSCU_script.lua
  projectiles/TIFMissileCruise01/TIFMissileCruise01_Script.lua
  projectiles/TIFMissileCruiseCDR/TIFMissileCruiseCDR_Script.lua
  units/UEB4201/UEB4201_unit.bp
  units/UES0202/UES0202_unit.bp
  units/UES0302/UES0302_unit.bp
  units/URB4201/URB4201_unit.bp
  units/XES0307/XES0307_unit.bp
Labels: area: balance, area: balance idea, feature: tactical missiles

#6486 Adjust aurora handling
  changelog/snippets/balance.6486.md
  units/UAL0201/UAL0201_unit.bp
Labels: area: balance, area: balance idea

#6753 Fix various anti-air weapons being unable to engage units that fly right above them
  changelog/snippets/balance.6753.md
  units/DELK002/DELK002_unit.bp
  units/UAB2204/UAB2204_unit.bp
  units/UEB2204/UEB2204_unit.bp
  units/UEL0104/UEL0104_unit.bp
  units/UES0103/UES0103_unit.bp
  units/URB2204/URB2204_unit.bp
  units/URL0104/URL0104_unit.bp
  units/URS0103/URS0103_unit.bp
  units/XSB2204/XSB2204_unit.bp
Labels: area: balance, area: unit-blueprint, area: balance idea

#6522 Fix Solace torpedo damage
  changelog/snippets/balance.6522.md
  lua/cybranprojectiles.lua
  lua/sim/projectiles/components/SplitComponent.lua
  projectiles/AANTorpedoCluster01/AANTorpedoCluster01_proj.bp
  projectiles/AANTorpedoCluster01/AANTorpedoCluster01_script.lua
  projectiles/SANHeavyCavitationTorpedo01/SANHeavyCavitationTorpedo01_script.lua
  units/XAA0306/XAA0306_unit.bp
Labels: type: bug, area: balance

#6623 Nerf short-range teleport jumps
  changelog/snippets/balance.6623.md
  lua/shared/teleport.lua
  units/UAL0001/UAL0001_unit.bp
  units/UAL0301/UAL0301_unit.bp
  units/UEL0001/UEL0001_unit.bp
  units/URL0001/URL0001_unit.bp
  units/XSL0001/XSL0001_unit.bp
  units/XSL0301/XSL0301_unit.bp
Labels: area: balance, area: balance idea

#6671 Increase Paragon production update rate
  changelog/snippets/fix.6671.md
  units/XAB1401/XAB1401_script.lua
Labels: type: enhancement, area: balance, area: sim

#6783 Initial implementation of chat muting paintings
  loc/US/strings_db.lua
  lua/ui/game/chat.lua
  lua/ui/game/painting/Painting.lua
  lua/ui/game/painting/PaintingCanvas.lua
  lua/ui/help/tooltips.lua
Labels: feature: painting

#6766 Refactor match state by applying the factory pattern to reduce complexity
  changelog/snippets/other.6766.md
  engine/Sim.lua
  lua/ScenarioFramework.lua
  lua/SimUtils.lua
  lua/sim/MatchState.lua
  lua/sim/VictoryCondition/AbstractVictoryCondition.lua
  lua/sim/VictoryCondition/DecapitationCondition.lua
  lua/sim/VictoryCondition/SandboxCondition.lua
  lua/sim/VictoryCondition/UnitCondition.lua
  lua/sim/VictoryCondition/VictoryConditionFactory.lua
  lua/sim/VictoryCondition/VictoryConditionSingleton.lua
  lua/simInit.lua
  lua/ui/lobby/lobbyOptions.lua
Labels: area: sim

#6726 Alternative implementation of tactical paint
  changelog/snippets/features.6726.md
  engine/User.lua
  loc/US/strings_db.lua
  lua/SimCallbacks.lua
  lua/maui/dragger.lua
  lua/options/options.lua
  lua/ui/controls/worldview.lua
  lua/ui/game/casting/painting.lua
  lua/ui/game/chat.lua
  lua/ui/game/gamemain.lua
  lua/ui/game/painting/ActiveBrushStroke.lua
  lua/ui/game/painting/BrushStroke.lua
  lua/ui/game/painting/Painting.lua
  lua/ui/game/painting/PaintingBrush.lua
  lua/ui/game/painting/PaintingCanvas.lua
  lua/ui/game/painting/ShareAdapters/PaintingCanvasAdapter.lua
  lua/ui/game/painting/ShareAdapters/PaintingCanvasAdapterFactory.lua
  lua/ui/game/painting/ShareAdapters/PaintingCanvasAdapterForObservers.lua
  lua/ui/game/painting/ShareAdapters/PaintingCanvasAdapterForPlayers.lua
  lua/ui/game/painting/ShareAdapters/PaintingCanvasAdapterForReplays.lua
  lua/ui/help/tooltips.lua
  lua/ui/override/ArmiesTable.lua
Labels: feature: painting

#6785 Increase Solace damage per volley from 4k to 5k
  changelog/snippets/balance.6522.md
  units/XAA0306/XAA0306_unit.bp
Labels: area: balance idea

#6745 Reduce omni radius of Aeon ACU Sensors
  changelog/snippets/balance.6745.md
  units/UAL0001/UAL0001_unit.bp
Labels: area: balance idea

#6744 Buff Cybran navy's missile deflectors
  changelog/snippets/balance.6744.md
  units/URS0202/URS0202_unit.bp
  units/URS0303/URS0303_unit.bp
Labels: area: balance idea, feature: anti projectile weaponry

#6690 Buff UEF Destroyer DPS/speed/turn rate at cost of HP
  changelog/snippets/balance.6690.md
  units/UES0201/UES0201_unit.bp
Labels: area: balance idea

#6791 Prevent weapons that fire after charging from charging while not aimed
  changelog/snippets/features.6791.md
  lua/sim/weapons/DefaultProjectileWeapon.lua
Labels: area: sim, feature: weapon firing cycle

#6790 Fix cancelling tempest firing cycle
  changelog/snippets/balance.6790.md
  lua/sim/weapons/aeon/ADFCannonOblivionWeapon02.lua
  units/UAS0401/UAS0401_unit.bp
Labels: area: balance, area: sim, area: unit-blueprint, feature: weapon firing cycle

#6788 Fix errors when self destruct is called with 0 units
  changelog/snippets/fix.6788.md
  lua/SimCallbacks.lua
  lua/selfdestruct.lua
  lua/userInit.lua
Labels: type: bug, area: sim, area: ui

#6794 Change Aeon ACU's personal shield from blue to green
  changelog/snippets/graphics.6794.md
  units/UAL0001/UAL0001_PhaseShield_mesh.bp
Labels: area: graphics

#6770 Fix TTerrainXPExt
  changelog/snippets/fix.6770.md
  effects/terrain.fx
Labels: area: graphics

#6802 Fix a bug where recall does not work
  changelog/snippets/features.5971.md
  lua/aibrain.lua
Labels: type: bug

#6810 Fix matchmaker games from the autolobby not sharing units on death
  changelog/snippets/fix.6810.md
  lua/ui/lobby/autolobby/AutolobbyController.lua
Labels: type: bug, area: matchmaker/autolobby

#6807 Fix error when unit with no fire rate is shared
  changelog/snippets/fix.6807.md
  lua/sim/Unit.lua
Labels: type: bug, area: sim

#6814 Fix issues with transport speed reduction
  changelog/snippets/fix.6814.md
  lua/sim/units/AirTransportUnit.lua
  lua/system/blueprints-units.lua
Labels: type: bug, feature: transports

#6816 Fix WrapText not picking up trailing single characters after newlines
  changelog/snippets/fix.6816.md
  lua/maui/text.lua
Labels: type: bug, area: ui

#6819 Revert delay to pause to 5 ticks when assisting to upgrade
  changelog/snippets/fix.6819.md
  lua/ui/game/commandmode.lua
Labels: area: ui, feature: assist-to side effects

#6823 Proper type annotation for `GetCommandMode`
  changelog/snippets/other.6823.md
  lua/ui/game/commandmode.lua
Labels: type: intellisense

#6828 Update the description of the Aeon ACU's vision upgrade
  changelog/snippets/other.6823.md
  changelog/snippets/other.6828.md
  loc/US/strings_db.lua
Labels: area: ui
