Repository FAForever/fa, pull requests merged in 2025-02, with the labels that each got.

#6489 Quantum Gateways Rebalance
  changelog/snippets/balance.6489.md
  units/UAB0304/UAB0304_unit.bp
  units/UEB0304/UEB0304_unit.bp
  units/URB0304/URB0304_unit.bp
  units/XSB0304/XSB0304_unit.bp
Labels: area: balance, area: balance idea

#6604 Fix GuardScanRadius for SACUs not matching upgraded gun range
  changelog/snippets/fix.6604.md
  units/UAL0301/UAL0301_unit.bp
  units/UEL0301/UEL0301_unit.bp
  units/URL0301/URL0301_unit.bp
  units/XSL0301/XSL0301_unit.bp
Labels: type: bug

#6578 Fix Megalith's GetCommandQueue not functioning as expected
  changelog/snippets/sections/fix.6578.md
  engine/Core/Categories.lua
  engine/User/UserUnit.lua
  lua/keymap/hotbuild.lua
  units/XRL0403/XRL0403_unit.bp
Labels: type: bug, area: ui, area: unit-blueprint

#6405 Transfer upgrade progress outside share until death
  changelog/snippets/fix.6405.md
  lua/SimUtils.lua
Labels: type: bug, area: sim

#6575 Fix annotation warnings in weapon.lua
  changelog/snippets/other.6575.md
  engine/Core/Blueprints/WeaponBlueprint.lua
  lua/sim/Projectile.lua
  lua/sim/weapon.lua
  lua/sim/weapons/DefaultProjectileWeapon.lua
Labels: type: intellisense

#6532 Fix excess projectiles in the same tick impacting entities that die that tick
  changelog/snippets/fix.6532.md
  lua/shield.lua
  lua/sim/Projectile.lua
Labels: type: bug, area: balance, area: sim

#6543 Disable collisions with dead units consistently
  changelog/snippets/fix.6543.md
  lua/sim/Unit.lua
Labels: type: bug, area: balance, area: sim

#6448 Fix air units colliding with projectiles after death
  changelog/snippets/balance.6448.md
  lua/sim/Unit.lua
  lua/sim/units/AirUnit.lua
  projectiles/ShieldCollider/ShieldCollider_script.lua
Labels: type: bug, area: balance, area: sim

#6642 Enable the map preview in the autolobby
  changelog/snippets/features.6642.md
  lua/ui/lobby/autolobby/AutolobbyInterface.lua
Labels: area: matchmaker/autolobby

#6449 Verify death animations in blueprint post-processing
  changelog/snippets/fix.6449.md
  engine/Core/Blueprints/UnitBlueprint.lua
  engine/Sim/CAnimationManipulator.lua
  lua/sim/collisionBeams/SCCollisionBeam.lua
  lua/system/blueprints-units.lua
Labels: area: sim

#6434 Fix and improve the FPS cap option
  changelog/snippets/fix.6434.md
  lua/options/options.lua
  lua/ui/game/gamemain.lua
Labels: type: bug, type: enhancement, area: ui

#6645 Fix error when using distribute queue on dying unit
  changelog/snippets/fix.6645.md
  lua/sim/commands/distribute-queue.lua
Labels: type: bug, area: sim

#6641 Nerf Brick range and DPS
  changelog/snippets/balance.6641.md
  units/XRL0305/XRL0305_unit.bp
Labels: area: balance idea

#6620 Add feature to only dock damaged air units
  changelog/snippets/features.6620.md
  loc/US/strings_db.lua
  lua/keymap/keyactions.lua
  lua/keymap/keydescriptions.lua
  lua/ui/game/hotkeys/dock-damaged.lua
  lua/ui/game/orders.lua
  lua/ui/help/tooltips.lua
Labels: area: ui, feature: hotkeys

#6636 Fix error when Cybran air factories die while building
  changelog/snippets/fix.6636.md
  changelog/snippets/graphics.6636.md
  lua/EffectUtilities.lua
  lua/EffectUtilitiesOpti.lua
  lua/sim/units/cybran/CAirFactoryUnit.lua
  lua/sim/units/cybran/CLandFactoryUnit.lua
  lua/sim/units/cybran/CSeaFactoryUnit.lua
Labels: type: bug, area: sim, area: graphics

#6643 Add a delay to the pause feature
  changelog/snippets/features.6643.md
  engine/User.lua
  lua/ui/game/gamemain.lua
  lua/ui/game/pause.lua
  lua/ui/game/tabs.lua
Labels: area: ui

#6584 Nerf the Seraphim T3 Subhunter and make larger formations of it less oppressive pt. 2
  changelog/snippets/balance.6584.md
  units/XSS0304/XSS0304_unit.bp
Labels: area: balance

#6606 Sniper bot buff
  changelog/snippets/balance.6606.md
  changelog/snippets/fix.6606.md
  units/XAL0305/XAL0305_unit.bp
  units/XSL0305/XSL0305_script.lua
  units/XSL0305/XSL0305_unit.bp
Labels: area: balance idea

#6607 Improvements to the functionality of a number of anti-torpedo weapons
  changelog/snippets/balance.6607.md
  units/UAS0305/UAS0305_unit.bp
  units/XRL0403/XRL0403_unit.bp
  units/XRS0204/XRS0204_unit.bp
  units/XSS0203/XSS0203_unit.bp
  units/XSS0304/XSS0304_unit.bp
Labels: area: balance, area: unit-blueprint

#6649 Nerf the Seraphim Destroyer's main turret in exchange for a buff to its torpedo defense
  changelog/snippets/balance.6649.md
  units/XSS0201/XSS0201_unit.bp
Labels: area: balance, area: balance idea
