Repository FAForever/fa, pull requests merged in 2025-01, with the labels that each got.

#6415 Make Ahwassa bomb ignore ASF collisions
  changelog/snippets/balance.6415.md
  projectiles/SBOOhwalliStrategicBomb01/SBOOhwalliStrategicBomb01_proj.bp
Labels: type: bug, area: balance

#6563 Combine Ahwassa bomb's final 3 damage instances into 1
  changelog/snippets/balance.6563.md
  projectiles/SBOOhwalliStrategicBomb01/SBOOhwalliStrategicBomb01_script.lua
Labels: area: balance

#6605 Fix the description of the Cybran SACU's gun range upgrade
  changelog/snippets/fix.6605.md
  loc/US/strings_db.lua
Labels: type: bug, area: ui

#6328 Align the duration of death animations of structures
  changelog/snippets/graphics.6328.md
  units/XSB0101/XSB0101_Adeath.sca
  units/XSB0301/XSB0301_unit.bp
  units/XSB2204/XSB2204_adeath.sca
  units/XSB2302/XSB2302_adeath.sca
  units/XSB2304/XSB2304_adeath.sca
  units/XSB3104/XSB3104_adeath.sca
  units/XSB3201/XSB3201_adeath.sca
  units/XSB5202/XSB5202_adeath.sca
  units/ZSB9501/ZSB9501_Adeath.sca
  units/ZSB9601/ZSB9601_Adeath.sca
  units/ZSB9601/ZSB9601_unit.bp
Labels: area: graphics

#6596 Annotations related to script tasks
  changelog/snippets/other.6596.md
  engine/Core/Blueprints/UnitBlueprint.lua
  engine/Library.lua
  engine/Sim/CUnitScriptTask.lua
  engine/User.lua
  engine/User/UserUnit.lua
  lua/RemoteViewing.lua
  lua/abilitydefinition.lua
  lua/sim/ScriptTask.lua
  lua/sim/Unit.lua
  lua/sim/tasks/AttackMove.lua
  lua/sim/tasks/EnhanceTask.lua
  lua/sim/tasks/GiveTask.lua
  lua/sim/tasks/TargetLocation.lua
  lua/system/utils.lua
  lua/ui/game/commandmode.lua
  lua/user/UserScriptCommand.lua
  units/XAB3301/XAB3301_script.lua
Labels: area: sim, area: ui, type: intellisense

#6595 Prevent the Vulthoo from missing units that are directly beneath it
  changelog/snippets/balance.6595.md
  units/XSA0203/XSA0203_unit.bp
Labels: type: bug, area: unit-blueprint

#6629 Check if instigator is destroyed in Fatboy `DeathThread`
  changelog/snippets/fix.6629.md
  units/UEL0401/UEL0401_script.lua
Labels: type: bug, area: sim

#6627 Annotate code related to collision beam entities
  changelog/snippets/other.6627.md
  engine/Core.lua
  engine/Core/Blueprints/WeaponBlueprint.lua
  engine/Sim/CollisionBeamEntity.lua
  lua/aibrains/components/EnergyManagerBrainComponent.lua
  lua/sim/CollisionBeam.lua
  lua/sim/MatchState.lua
  lua/sim/Unit.lua
  lua/sim/weapon.lua
  lua/sim/weapons/DefaultBeamWeapon.lua
  lua/sim/weapons/DefaultProjectileWeapon.lua
  lua/system/config.lua
  lua/ui/game/gamemain.lua
  lua/ui/lobby/changelogData.lua
Labels: area: sim, type: intellisense

#6560 Adjust several minor stats to better align the Vulthoo with its role as a 'Tech 2.5 unit'
  .github/pull_request_template.md
  changelog/snippets/balance.6560.md
  units/XSA0203/XSA0203_unit.bp
Labels: area: balance

#6622 Fix Seraphim sniper's barrel not aiming with LOD1 model
  changelog/snippets/graphics.6622.md
  units/XSL0305/XSL0305_lod1.scm
Labels: type: bug, area: graphics

#6617 Fix error with new stop command pausing silos
  changelog/snippets/fix.6617.md
  engine/User.lua
  lua/keymap/keyactions.lua
  lua/ui/game/orders.lua
  lua/userInit.lua
Labels: type: bug, area: ui

#6616 Add new unit-related development tips
  docs/development/developmentEnviroment.md
  setup/setup-english.md
Labels: area: documentation

#6602 Fix : Remove unused personality calls in default skirmish AI code
  changelog/snippets/fix.6602.md
  engine/Sim/CPlatoon.lua
  lua/sim/FactoryBuilderManager.lua
  lua/sim/PlatoonFormManager.lua
Labels: area: AI

#6630 Fix `QuatFromXZDirection` for negative dx inputs causing ACUs to spawn the wrong direction
  changelog/snippets/fix.6630.md
  lua/sim/Unit.lua
  lua/utilities.lua
Labels: type: bug, area: sim

#6600 Annotate some of the functionality related to worldviews
  changelog/snippets/other.6600.md
  engine/User.lua
  engine/User/CUIWorldView.lua
  lua/ui/controls/worldview.lua
  lua/ui/game/multihead.lua
  lua/ui/game/worldview.lua
Labels: area: documentation

#6626 Annotate sync of enhancements
  changelog/snippets/other.6626.md
  lua/ScenarioFramework.lua
  lua/SimSync.lua
  lua/enhancementcommon.lua
  lua/sim/Unit.lua
  lua/ui/game/construction.lua
  lua/ui/notify/enhancementqueue.lua
Labels: area: sim, area: ui, type: intellisense

#6590 Reduce Aeon and Seraphim T2 PD damage
  changelog/snippets/balance.6590.md
  units/UAB2301/UAB2301_unit.bp
  units/XSB2301/XSB2301_unit.bp
Labels: area: balance idea

#6589 Increase UEF T3 shield regen delay 1 -> 3 seconds
  changelog/snippets/balance.6589.md
  units/UEB4301/UEB4301_unit.bp
Labels: area: balance idea

#6551 Preliminary changes for the Czar
  changelog/snippets/balance.6551.md
  units/UAA0310/UAA0310_unit.bp
Labels: area: balance

#6588 Reduce Seraphim Destroyer underwater speed 5 -> 4.5
  changelog/snippets/balance.6588.md
  engine/Core/Blueprints/UnitBlueprint.lua
  units/XSS0201/XSS0201_script.lua
  units/XSS0201/XSS0201_unit.bp
Labels: area: balance idea

#6591 Buff UEF ACU Drone's rebuild costs
  changelog/snippets/balance.6591.md
  lua/RuleInit.lua
  units/UEA0001/UEA0001_unit.bp
  units/UEL0001/UEL0001_script.lua
Labels: area: balance idea

#6437 Automatically rotate units with angle limits towards targets
  changelog/snippets/balance.6437.md
  engine/Core/Blueprints/UnitBlueprint.lua
  engine/Core/Blueprints/WeaponBlueprint.lua
  units/URS0303/URS0303_unit.bp
  units/XSL0303/XSL0303_unit.bp
  units/XSS0103/XSS0103_unit.bp
Labels: area: balance, type: nice-to-have

#6488 SACU Base Stat Changes
  changelog/snippets/balance.6301.md
  changelog/snippets/balance.6488.md
  lua/sim/AdjacencyBuffs.lua
  units/UAB0304/UAB0304_unit.bp
  units/UAL0301/UAL0301_unit.bp
  units/UEB0304/UEB0304_unit.bp
  units/UEL0301/UEL0301_unit.bp
  units/URB0304/URB0304_unit.bp
  units/URL0301/URL0301_unit.bp
  units/XSB0304/XSB0304_unit.bp
  units/XSL0301/XSL0301_unit.bp
Labels: area: balance, area: balance idea

#6621 Rework shader names and add biplanar shader
  effects/terrain.fx
Labels: area: graphics

#6572 Fix bombers missing during vertical movement
  changelog/snippets/fix.6572.md
  lua/sim/weapons/DefaultProjectileWeapon.lua
Labels: type: bug, area: sim
