Repository FAForever/fa, pull requests merged in 2025-08, with the labels that each got.

#6898 Fix recall desync when an army is defeated the same tick a recall vote starts
  changelog/snippets/fix.6898.md
  lua/sim/Recall.lua
Labels: type: bug, area: sim

#6843 Reduce Cybran T1 mobile AA's damage
  changelog/snippets/balance.6843.md
  units/URL0104/URL0104_unit.bp
Labels: area: balance idea

#6880 Increase Seraphim T1 sub torpdef reload time
  changelog/snippets/balance.6880.md
  units/XSS0203/XSS0203_unit.bp
Labels: area: balance idea

#6894 Reduce the Additional Regen Rate the Cybran ACU's Nano-Repair System provides
  changelog/snippets/balance.6894.md
  loc/US/strings_db.lua
  units/URL0001/URL0001_unit.bp
Labels: area: balance, area: unit-blueprint, area: balance idea

#6885 Check whether LazyVar.OnDirty exists in case it was destroyed earlier
  changelog/snippets/fix.6885.md
  lua/lazyvar.lua
Labels: type: bug, area: ui

#6873 Improve single player command line launch
  changelog/snippets/other.6873.md
  docs/development/developmentEnviroment.md
  engine/Core.lua
  engine/User.lua
  lua/MODS.LUA
  lua/SinglePlayerLaunch.lua
  lua/ui/lobby/lobbyOptions.lua
  lua/ui/maputil.lua
Labels: type: enhancement, area: tooling

#6877 Integrate Saver's Aeon T2 -> T3 Shield upgrade mod
  changelog/snippets/ai.6877.md
  changelog/snippets/balance.6877.md
  changelog/snippets/graphics.6877.md
  lua/AI/AIBuilders/AIDefenseBuilders.lua
  lua/AI/PlatoonTemplates/StructurePlatoonTemplates.lua
  lua/platoontemplates.lua
  lua/sim/units/StructureUnit.lua
  lua/upgradetemplates.lua
  units/UAB4202/UAB4202_Aupgrade.sca
  units/UAB4202/UAB4202_lod0.scm
  units/UAB4202/UAB4202_script.lua
  units/UAB4202/UAB4202_unit.bp
  units/UAB4301/UAB4301_unit.bp
Labels: area: balance, area: sim, area: graphics

#6887 Make structure hp decay quickly below 10% completion
  lua/sim/Unit.lua
  lua/sim/units/components/FastDecayUnitComponent.lua
  units/UAB2101/UAB2101_unit.bp
  units/UAB2104/UAB2104_unit.bp
  units/UAB2109/UAB2109_unit.bp
  units/UEB2101/UEB2101_unit.bp
  units/UEB2104/UEB2104_unit.bp
  units/UEB2109/UEB2109_unit.bp
  units/URB2101/URB2101_unit.bp
  units/URB2104/URB2104_unit.bp
  units/URB2109/URB2109_unit.bp
  units/XSB2101/XSB2101_unit.bp
  units/XSB2104/XSB2104_unit.bp
  units/XSB2109/XSB2109_unit.bp
Labels: area: balance idea

#6905 Fix an edge case where announcements would break cinematics
  changelog/snippets/fix.6905.md
  lua/ui/game/announcement/AbstractAnnouncement.lua
Labels: type: bug, area: ui
