Repository FAForever/fa, pull requests merged in 2025-07, with the labels that each got.

#6884 Fix continental under construction blocking pgen construction
  changelog/snippets/fix.6884.md
  units/XEA0306/XEA0306_unit.bp
Labels: type: bug, area: sim, area: unit-blueprint

#6879 Fix Cybran engis not turning wheels back to land mode
  changelog/snippets/fix.6879.md
  lua/sim/units/cybran/CConstructionUnit.lua
Labels: type: bug, area: sim

#6860 Reduce weapon damage table computations when applying buffs by storing constant data
  changelog/snippets/performance.6860.md
  lua/sim/weapon.lua
  units/XSL0305/XSL0305_script.lua
Labels: area: sim
